/* src/styles/Header.module.css */
.header {
  display: flex;
  align-items: center;
  z-index: 9999;
  }
  
  .navList {
    display: flex;
    gap: 50px;
    list-style: none;
    color: #000;
  }
  
  .signUp button {
  
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  